.error-container {
    display: flex;

    .image {
        height: 360px;
        width: 100%;
        max-width: 430px;
    }

    .content {
        padding-left: 20px;
        padding-top: 50px;

        .code {
            font-size: 48px;
            font-weight: bold;
        }
        .message {
            font-size: 24px;
            color: #999;
            padding: 10px 0;
        }
    }
}